<h1><%= @country.name %></h1>
<%= link_to "Embassy Site", @country.embassy_url %>

<!DOCTYPE html>
<html>
<head>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="w3-display-container" style="margin-bottom:50px">

  <div class="w3-display-bottomleft w3-container w3-blue w3-hover-blue w3-hide-small"
   style="bottom:10%;opacity:0.7;width:70%">
 
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-blue">
    <!--<img src="/w3images/cellphone.jpg" style="width:100%"> -->
    <h2>Smart Vacation Recent Updates</h2>
    <p>Full vacation control from your cell phone. Click below for real-time updates of your country</p>
   <p> <%= link_to "Updates", @country.embassy_url %>
    </p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-blue">
   
    <h2>Visa Application Links</h2>
    <p>Click here for <a href="https://www.gov.uk/government/publications/usa-apply-for-a-uk-visa/apply-for-a-uk-visa-in-the-usa" target="_blank"> Visa Application at goverment page.</p>
    
    </p>
  </div>
</div>
</div>

<div class="w3-row w3-container" style="margin:50px 0">
<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-blue">
  
    <h2>Covid Regulations </h2>
    <p>Coronavirus (COVID-19) testing and quarantine rules links here
    <p> <%= link_to "Rules", @country.embassy_url %>
    
    </p>
  </div>
</div>

<div class="w3-half w3-container">
  <div class="w3-topbar w3-border-blue">
    <h2>Electronic Forms and Downloadble Documents</h2>
    <p> Must be complete for all Passenger before showing up to your flight, without this electronic document you will not be allowed to travel</p>
    <p>Click here for <a href="https://provide-journey-contact-details.homeoffice.gov.uk/passengerLocatorFormUserAccountHolderQuestion" target="_blank">Passenger Forms.</p>

   

    </div>
</div>
</div>

</body>
</html>
